body {
background: #b5bdc8;
background: -moz-radial-gradient(center, ellipse cover,  #b5bdc8 0, #828c95 36%, #28343b 100%);
background: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(0,#b5bdc8), color-stop(36%,#828c95), color-stop(100%,#28343b));
background: -webkit-radial-gradient(center, ellipse cover,  #b5bdc8 0,#828c95 36%,#28343b 100%);
background: -o-radial-gradient(center, ellipse cover,  #b5bdc8 0,#828c95 36%,#28343b 100%);
background: -ms-radial-gradient(center, ellipse cover,  #b5bdc8 0,#828c95 36%,#28343b 100%);
background: radial-gradient(ellipse at center,  #b5bdc8 0,#828c95 36%,#28343b 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=1 );
}

/* styling for slides that are inactive */
.impress-enabled .step {
    margin: 0;
    opacity: 0.0;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
}

    /* styling for slides that are active*/
    .impress-enabled .step.active {
        opacity: 1;
    }


/* styling for all slides */
.slide {
    display: block;
    width: 70%;
    height: 60%;
    padding: 5% 6%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    color: rgb(52, 52, 52);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    border-radius: 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}
